.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 23px;

}

.play {
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  /* margin: 8px 0px 0px; */
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Arial, sans-serif;
  padding: 6px 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  border-radius: 30px;
  border: 0.7px solid rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
  box-shadow: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 16px;
  text-transform: capitalize;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 25px;
  width: 64px;
  font-size: 12px;
  min-width: 45px
}

.cardContent {
  display: flex;
  gap: 13px;
  flex: 0 0 calc(50% - 15px);
  max-width: calc(50% - 15px);
  border-radius: 8px;
  background: rgba(78, 77, 77, 0.3);
  opacity: 1;
}

.cardText {
  flex: 2;
  overflow: hidden;
}

.cardText h3 {
  font-size: 18px;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.cardText p {
  font-size: 12px;
  margin-bottom: 16px;
  margin-top: 5px;
  color: #bab9b9;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardImage {
  width: 132px;
  height: 132px;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navigation-buttons button {
  background: rgba(255, 255, 255, 0.269);
  margin: 0 10px;
  padding: 5px 10px;
  border: none;
  color: #dddddd;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.navigation-buttons button:hover {
  background: rgba(176, 176, 176, 0.587);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
