.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 23px;

}

.cardContent {
  display: flex;
  gap: 13px;
  flex: 0 0 calc(50% - 15px);
  max-width: calc(50% - 15px);
  border-radius: 8px;
  background: rgba(78, 77, 77, 0.3);
  opacity: 1;
}

.cardText {
  flex: 2;
  overflow: hidden;
}

.cardText h3 {
  font-size: 18px;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.cardText p {
  font-size: 12px;
  margin-bottom: 16px;
  margin-top: 5px;
  color: #bab9b9;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardImage {
  width: 132px;
  height: 132px;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navigation-buttons button {
  background: rgba(255, 255, 255, 0.269);
  margin: 0 10px;
  padding: 5px 10px;
  border: none;
  color: #dddddd;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.navigation-buttons button:hover {
  background: rgba(176, 176, 176, 0.587);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
