.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  border-radius: 8px;
  opacity: 1;
  margin-top: 0;
  cursor: pointer;
}

.card h3 {
  margin: 0px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card p {
  margin: 0px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
}

.card img {
  border-radius: 8px;
}
