.navbar {
  color: white;
  padding: 40px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  align-content: center;
  font-family: Arial, sans-serif;
}

.menu {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.menuItem {
  font-size: 18px;
  cursor: pointer;
}

.menuItem:hover {
  color: #0070f3;
}
