.navbar {
  color: white;
  padding-top: 60px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 60%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  font-family: Arial, sans-serif;
}

.menu {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.menuItem {
  font-size: 18px;
  cursor: pointer;
}

.menuItem:hover {
  color: #b5b5b5;
}
