.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.user-profile img {
  border-radius: 5%;
}

.detail-button {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.detail-button:hover {
  background-color: #005bb5;
}

.no-avatar {
  color: #999;
  font-size: 14px;
}

@media (max-width: 900px) {
  .user-profile img {
    width: 100vw !important;
    height: 100vh !important;
    object-fit: cover;
    border-radius: 0;
    margin: 0;
  }
}
