.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.user-profile img {
  border-radius: 5%;
}

.profile-page h1 {
  margin: 5px;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  text-align: center;
}

.detail-button {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.detail-button:hover {
  background-color: #005bb5;
}

.no-avatar {
  color: #999;
  font-size: 14px;
}

@media (max-width: 900px) {
  .user-profile {
    margin-top: 0;
  }

  .user-profile img {
    width: 100vw !important;
    height: auto !important;
    object-fit: cover;
    border-radius: 0;
    margin: 0;
  }
  
  .user-profile img::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70%; /* Adjust the height of the gradient as needed */
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    pointer-events: none; /* Allow clicks to pass through */
  }
}

